.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: rgb(103, 191, 241);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-item-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.login-btn {
  font-size: large;
  margin-left: 4em;
  background-color: #0d253f;
}

.register-btn {
  font-size: large;
  margin-left: 7em;
  background-color: #0d253f;
}

.span {
  padding-left: 15vh;
}

#span-title {
  font-size: 1.3em;
}

#span-theme {
  padding-left: 1vh;
  font-size: 0.7em;
  margin-top: 1.5em;
  color: whitesmoke;
  font-style: italic;
  font-weight: 400;
}

.toolbar {
  height: 20vh;
}

.img {
  height: 20em;
}

#signout {
  margin-left: 2em;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .span {
    padding-left: 2vw;
  }

  .register-btn {
    margin-left: -8.9em;
    font-size: medium;
  }

  .login-btn {
    margin-left: 1em;
    font-size: medium;
  }

  #signout {
    margin-left: 1em;
  }

  #span-title {
    font-size: 1em;
    margin-left: 0.1em;
  }

  #span-theme {
    opacity: 0;
  }
}
