<footer class="footer-section-container">

    <section class="footer-section-content">

        <article class="logo-links-section">
            <h1 class="pdts">Products</h1>

            <ul class="products">
                <li>About us</li>
                <li>Bank Accounts</li>
                <li>Credit Cards</li>
                <li>Get in Touch</li>
            </ul>

        </article>

        <article class="recent-news-section">
            <h1>Help and Support</h1>

            <ul class="help">
                <li>Support</li>
                <li>Security</li>
                <li>Service Status</li>
                <li>Natwest App</li>
                <li>Online Banking</li>
                <li>Banking with Natwest</li>
                <li>Sustainable Banking</li>
            </ul>

        </article>

        <article class="signup-section">

            <h1 class="subscribe">SUBSCRIBE</h1>
            <p>Get Monthly updates and amazing offers</p>

            <article class="subscribe-button">
                <form>
                    <input type="text" id="Enter E-mail">
                </form>

                <button class="button">
                    <h1>Subscribe</h1>
                </button>
            </article>


            <h3 class="connect">CONNECT WITH US</h3>

            <div class="social-media-links">
                <i class="fa fa-twitter" id="twitter" aria-hidden="true"></i>
                <i class="fa fa-facebook" id="fb" aria-hidden="true"></i>
                <i class="fa fa-instagram" id="instagram" aria-hidden="true"></i>
                <i class="fa fa-google-plus" id="google" aria-hidden="true"></i>
            </div>
        </article>

    </section>

    <p class="copyright">&copy; Copyright 2020 Natwest - All Rights Reserved</p>

</footer>