.search-section {
  text-align: center;
  align-items: center;
  margin-top: 8vh;
  margin-bottom: 65vh;
}

.card {
  width: 300px;
  height: 380px;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(184, 221, 241);
  border: 1.2px solid black;
  margin: 50px 50px;
  border-radius: 10px;
}

#card-sect {
  margin-left: 4em;
}

.first-att {
  margin: 1em auto;
  height: 8vh;
  width: 4.5vw;
}

.card p {
  font-size: 18px;
}

.head-content {
  text-align: center;
}

.head-content h2 {
  font-style: normal;
  color: black;
  font-weight: 400;
}

select {
  height: 40px;
  margin-left: 10px;
  /* border: 3px solid #00b4cc; */
  border: 3px solid rgb(60, 84, 180);
  border-radius: 10px;
}

button {
  height: 40px;
  border: 3px solid rgb(60, 84, 180);
  margin-left: 10px;
  border-radius: 10px;
}

input {
  width: 40%;
  display: inline-block;
  margin-top: 10px;
  border: 3px solid rgb(60, 84, 180);
  border-radius: 10px;
}

p {
  font-size: 1.5em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 10px;
  color: rgb(60, 84, 180);
}

.error-message {
  margin-top: 20px;
  color: red;
}

@media only screen and (max-width: 600px) {
  #card-sect {
    margin-left: 0%;
  }

  p {
    font-size: 1em;
  }

  h2 {
    font-size: 1.5em;
  }

  .card {
    width: 300px;
    height: 390px;
  }

  .first-att {
    height: 8vh;
    width: 13vw;
  }
}
