.login-container {
  margin: 150px auto;
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
}

.wrapper {
  text-align: right;
}

.login-page {
  margin-bottom: 66vh;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .login-container {
    width: 260px;
  }
}
