.main {
  padding: 0%;
  margin: 0%;
  height: 100%;
  margin-bottom: 91.8vh;
}

.topnav {
  background-color: rgb(240, 234, 234);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(197, 183, 183);
  color: black;
  border: black;
}

.img-logo {
  margin-left: -53em;
  margin-top: 1.21em;
  height: 1.5em;
}

.topnav-links {
  margin-left: 20em;
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: black;
  margin-top: 20px;
  margin-right: 16px;
  font-size: 17px;
  border-radius: 1em;
  border-color: black;
}

.card-component {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-bottom: 0%;
  background-color: whitesmoke;
}

.card-info1 {
  font-weight: 400;
  font-style: inherit;
  margin-left: auto;
  margin-left: 1em;
}

.title {
  font-weight: normal;
}

.example-card {
  max-width: 280px;
  max-height: 470px;
  margin-left: 10%;
  margin-bottom: 1em;
  margin-top: 2em;
  opacity: 1;
}

.example-card:hover {
  transform: translate3D(0, -1px, 0) scale(1.1); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04);
  transition: all 0.4s ease; /* zoom in */
  cursor: pointer;
}

.example-header-image {
  background-image: url("../../../assets/images/logo.png");
  background-size: cover;
}

.card-flex {
  display: flex;
}

.title-card {
  margin-top: 3em;
  text-align: center;
}

.annual-fee {
  font-weight: 500;
  text-align: center;
}

#card-limit {
  margin-left: 1em;
}

.img {
  height: 625px;
  width: 1366px;
}

#desc {
  color: black;
  font-weight: bold;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .main {
    margin-bottom: 223vh;
  }

  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }

  .img-logo {
    margin-left: 2em;
    margin-top: 2.5em;
    width: 35%;
  }

  .topnav-links {
    margin-left: 1em;
  }

  .topnav input[type="text"] {
    margin-left: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 1.5em;
    width: 88%;
  }

  .img {
    height: 400px;
    width: 411px;
  }

  .title-card h3 {
    font-size: 23.5px;
    margin-top: 5vh;
  }

  .card-flex {
    flex-direction: column;
  }

  .card-component {
    height: 230%;
    margin-bottom: 0%;
  }

  .example-card {
    margin-left: 4.2em;
    height: 470px;
  }

  .example-card:hover {
    transform: translate3D(0, -1px, 0) scale(1.1); /* move up slightly and zoom in */
    box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
      1px 6px 12px rgba(39, 44, 49, 0.04);
    transition: all 0.4s ease; /* zoom in */
    cursor: pointer;
  }
}
