<div class="main">

  <div class="topnav">
    <img class="img-logo" src="../../../assets/images/natwest-logo.png" alt="Branding image">
    <div class="topnav-links">
      <a href="#products">Products</a>
      <a href="#Helpandsupport">Help and Support</a>
      <a href="#bankingwithus">Banking with us</a>
      <a href="#gettheapp">Get the app</a>
    </div>
    <input type="text" class="search" placeholder="Search..">
  </div>

  <ngb-carousel>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="img" src="../../../assets/images/hero-unit/laptop-travel.jpg" alt="Hero image">
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="opaq-img" class="img" src="../../../assets/images/natwest.jpg" alt="Hero image">
      </div>
    </ng-template>

    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img id="opaq-img" class="img" src="../../../assets/images/hero-unit/airport-Lounge-Access.jpg"
          alt="Hero image">
      </div>
    </ng-template>

  </ngb-carousel>

  <!--Card Layout-->
  <div class="card-component">

    <div class="title-card">
      <h3>Choose the card that works for you</h3>
    </div>

    <div class="card-flex">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Platinum Card</mat-card-title>
          <mat-card-subtitle>International Travel Card</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/dashboard-card.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="card-info1">
            <p class="annual-fee">
              No Annual Fee <br>
              Card limit per day : 1 lakh <br>
            </p>
            <ul>
              <li>5 Reward Points for every <br> ₹ 150 spent </li>
              <hr>
              <li>Avail free Life Insurance benefits with Bajaj Allianz</li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sapphire Card</mat-card-title>
          <mat-card-subtitle>International Travel Card</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/natwest-card-image.jfif" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="card-info1">
            <p class="annual-fee">
              Annual Fees : ₹ 250 <br>
              Card limit per day : 5 lakh <br>
            </p>
            <ul>
              <li>10 Reward Points for every <br> ₹ 150 spent</li>
              <hr>
              <li>Unlimited airport lounge access across the globe</li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Millennia Card</mat-card-title>
          <mat-card-subtitle>International Travel Card</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/images/natwest-card-image3.jfif" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="card-info1">
            <p class="annual-fee">
              Annual Fees : ₹ 750 <br>
              Card limit per day : 10 lakh <br>
            </p>
            <ul>
              <li>30 Reward Points for every <br> ₹ 150 spent</li>
              <hr>
              <li>Annual memberships of Amazon Prime, Zomato Gold</li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>