.main {
  background-color: rgb(240, 234, 234);
  height: 290%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.image-credit {
  margin-bottom: 1em;
}

#divChart {
  width: 700px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-left: 20em;
  margin-top: 4em;
  background-color: rgb(240, 234, 234);
}

.chart {
  margin-bottom: 4em;
}

#myChart3 {
  margin-bottom: 10em;
  padding-bottom: 3em;
}

.title {
  font-weight: bold;
  padding-bottom: 1.2em;
}

.example-header-image {
  background-image: url("../../../assets/images/logo.png");
  background-size: cover;
}

.card-flex {
  display: flex;
}

.example-card {
  width: 330px;
  margin-left: 20%;
  margin-bottom: 4.5em;
  margin-top: 5em;
}

.example-card:hover {
  transform: translate3D(0, -1px, 0) scale(1.3); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 12px rgba(39, 44, 49, 0.04);
  transition: all 0.4s ease; /* zoom in */
  cursor: pointer;
}

#card2:hover {
  transform: translate3D(0, -1px, 0) scale(1.3); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39, 44, 49, 0.07),
    1px 6px 8px rgba(39, 44, 49, 0.04);
  transition: all 0.4s ease; /* zoom in */
  cursor: pointer;
}

#card2 {
  padding-left: 1em;
  padding-top: 1.5em;
  /* background-image: url('../../../assets/images/account-info-dashboard1.jpg'); */
  background-size: cover;
  position: relative;
  background-color: whitesmoke;
}

.card-info2 {
  display: normal;
  font-weight: 550;
  font-size: medium;
}

.head-title {
  text-align: center;
  margin-top: 0.61em;
}

#head-title2 {
  text-align: center;
  padding: 0.8em;
  margin-left: 10em;
  margin-top: 1em;
  margin-right: 10em;
  background-color: white;
  border-radius: 50px;
}

#title2 {
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
  font-size: 1.3em;
  margin-left: 1.3em;
  margin-top: 1em;
}

.pie-head {
  font-size: 1em;
  font-weight: 400;
  margin-left: 13em;
  margin-bottom: 1em;
}

.know-more {
  margin-left: 6em;
  margin-top: 0%;
}

.card-info1 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.1em;
}

/*Flip*/

.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: rgb(232, 235, 238);
  color: black;
}

.flip-box-back {
  margin-top: 2em;
  background-color: rgb(236, 227, 227);
  /* background-color:  rgb(184, 221, 241); */
  color: black;
  transform: rotateY(180deg);
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 3em;
  width: 250px;
  height: 250px;
}

.img-card2 {
  width: 280px;
  height: 300px;
}

.block-card-container {
  width: 20em;
  text-align: center;
  border-radius: 50px;
  margin-left: 65em;
  padding: 0.25em;
}

.block-text {
  margin-left: 1em;
  margin-top: 0.7em;
  font-size: 1.2em;
}

.block-btn {
  margin-left: 1em;
  padding-top: 0.1em;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .card-flex {
    flex-direction: column;
  }

  .example-card {
    margin-left: 3.5em;
    margin-top: 1.5em;
    margin-bottom: 2em;
  }

  .head-title {
    padding-top: 1em;
    margin-left: 1em;
    font-size: 1.2em;
  }

  #card2 {
    margin-top: 1.2em;
  }

  #head-title2 {
    text-align: center;
    padding: 0.6em;
    margin-top: 1em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    font-size: 18px;
  }

  #divChart {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-left: 0.01em;
    margin-right: 0.01em;
    margin-top: 3em;
    background-color: rgb(240, 234, 234);
  }

  .chart {
    margin-bottom: 3em;
  }

  #myChart3 {
    margin-bottom: 0%;
    padding-bottom: 0%;
  }

  .main {
    height: 235%;
  }

  .pie-head {
    margin-left: 5.5em;
  }

  .card-info1 {
    font-size: 1.2em;
    font-weight: 500;
  }

  .card-info2 {
    font-weight: 550;
  }

  .img-card2 {
    width: 300px;
    height: 200px;
  }

  .block-card-container {
    width: 20em;
    margin-left: 10em;
    padding: 0.25em;
  }

  .block-text {
    margin-left: 1em;
    margin-top: 0.7em;
    font-size: 1em;
  }

  .block-btn {
    margin-left: 1em;
    padding-top: 0.1em;
  }
}
