.registration-form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.main {
  padding: 0%;
  margin: 0%;
  margin-bottom: 76vh;
}

.error-message {
  color: red;
}

.add-register-panel {
  width: 50vw;
  margin: 10vh auto;
}

.register {
  margin-left: auto;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .add-register-panel {
    width: 280px;
  }
}
